<% if quiz.user == current_user || current_user.admin? %>
  <ul class='button-group'>
    <li><%= link_to "DELETE QUESTION",
            question_path(question),
            method: :delete,
            data: { confirm: 'Are you sure you want to delete this question?' },
            class: 'button tiny' %>
    </li>
    <li><%= link_to "EDIT QUESTION",
            edit_question_path(question),
            class: 'button tiny' %>
    </li>
  </ul>
<% end %>
