html {
  margin-right: 0px !important;
  position: absolute;
}

.row {
  margin-right: 0px;
  vertical-align: middle;
}

h1, h2, h4, h4 > span.subheader, h5 {
  font-family: 'cabin', sans-serif;
  font-weight: 700;
}

h1, h1 > span.subheader {
  background-color: white;
  font-weight: 700;
  font-size: 40px;
  margin: 0px;
}

h1 > span.subheader {
  color: #0099FF;
}

h3 {
  font-family: 'cabin', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #6f6f6f;
  line-height: 120%;
  margin: 0px;
  vertical-align: middle;
}

.button {
  font-family: 'cabin', sans-serif;
  font-weight: 700;
  background-color: #0099FF;
}

.top-bar-section > .inline_list >li > a {
  font-family: 'cabin', sans-serif;
  font-weight: 400;
}

.course-title {
  font-family: 'cabin', sans-serif;
  font-size: 115%;
  font-weight: 700;
  color: #0099FF;
}

.username {
  color: #0066CC;
  font-weight: bold;
}

.large-3 {
  text-align: right;
  border-right: solid 10px #6f6f6f;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 30px 0px 20px 0px;
  font-weight: 900;
  vertical-align: middle;
}

.columns {
  vertical-align: middle;
}

.large-9 {
  vertical-align: middle;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.course-info,
.course-info > .large-3,
.course-info > .large-9 {
  background-color: black;
  border-color: #0099FF;
  color: white;
}

.course-info > .large-3 > h3 > a,
.course-info > .large-3 > h3 {
  color: #0099FF;
}

.course-info > .large-9 > a {
  font-weight: bold;
  color: #0099FF;
}

.body {
  background-color: #E8E8E8;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body > .large-3 {
  border: none;
}

.large-9 > h4,
.large-9 > h4 > a,
.body > .large-9 > h4 > a {
  color: #0099FF;
  font-size: 150%;
  font-weight: 400;
}

.large-9 > h4 > a:hover,
.body > .large-9 > h4 > a:hover {
  color: #0066FF;
  font-size: 150%;
  font-weight: 400;
}

.large-9 > .tipbox {
  border: 3px solid #FF3399;
  background-color: #FF7373;
  margin-right: 1%;
  padding: 5px;
}

#info {
  background-color: #0099FF;
  margin-bottom: 20px;
}

#info > .large-3 {
  border-color: #E8E8E8;
}

#info > .large-3 > h3 {
  color: #E8E8E8;
}

#info > .large-3 > h3 {
  color: #E8E8E8;
}

#info > .large-9 > h4 {
  padding-top: 1.4em;
  color: #E8E8E8;
}

#info > .large-9 > h4 >a {
  padding-top: 1.4em;
  color: #6f6f6f;
  font-weight: 700;
}

#about {
  margin-bottom: 20px;
}

#about > .large-3 {
  border-right: solid 10px #0099FF;
}
#about > .large-3 > h3 {
  color: #0099FF;
}

#flash {
  margin-top: 100px;
}

.quiz {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #E8E8E8;
}

.quiz > .large-9 > ol > li > h4 {
  font-family: 'cabin', sans-serif;
  font-weight: 700;
  color: red;
}

body {
  margin-left: 20px;
  margin-right: 0px !important;
}

.button:hover {
  background-color: #0066FF;
}

#title {
  background-color: black;
  align: middle;
  height: 700px;
}

#title > #outteach,
#title > #outteach > .subheader {
  background-color: black;
}

#about > .large-9 > h4 > a {
  color: #0099FF;
  font-size: 120%;
  font-weight: 700;
}

#about > .large-9 > h4 > a:hover {
  color: #0066FF;
  font-size: 120%;
  font-weight: 700;
}

#title > h1 {
  align: middle;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
  padding: 25px 0px 30px 0px;
  margin: 10px 300px 50px 300px;
  background-color: #0077FF;
  border-radius: 80px;
}

.members, .admin {
  background-color: #E8E8E8;
}

.admin > .large-9 > p,
.members > .large-9 > p {
  font-weight: bold;
}

.members > .large-9 > p > a {
  color: red;
}

#how > .large-9 {
  color: #6f6f6f;
  vertical-align: middle;
}

#how > .large-9 > h4 {
  color: #6f6f6f;
  vertical-align: middle;
  padding-top: 1.2em;
}

.members > .large-3 {
  border-color: red;
}

.members > .large-3 > h3 {
  color: red;
}

.admin > .large-3 {
  border-color: purple;
}

.admin > .large-3 > h3 {
  color: purple;
}

#login {
  margin-top: 60px;
}

#user > .large-9 > ul {
  list-style: none;
}

#user > .large-9 > ul > li> a {
  color: #0077FF;
  font-weight: bold;
}

a {
  color: #0099FF;
}

a:hover {
  color: #0066FF;
}

#user > .large-3 > h3 {
  color: #0066FF;
}

#user > .large-3 {
border-color: #0066FF;
}

.quiz > .large-3 {
  border-right: none;
}

.correct {
  background-color: #33CC33;
}

.correct:hover {
  background-color: #33CC33;
  cursor: auto;
}
